<div class="navbar navbar-light bg-light navbar-expand-sm">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
            class="sr-only">Toggle navigation</span>
        &#x2630;
    </button>
    <!-- Collect
    the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="navbar-brand nav-link" href="/">ArticleBits</a>
            </li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item"><a href="/sitelogic" class="nav-link">Site Logic</a>
            </li>
            <li class="dropdown nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"
                                             role="button"
                                             aria-haspopup="true" aria-expanded="false">Dropdown <span
                    class="caret"></span></a>
                <ul
                        class="dropdown-menu">
                    <li class="dropdown-item"><a href="/topstories"> Top Stories</a>
                    </li>
                    <li class="dropdown-item"><a href="/world"> World</a>
                    </li>
                    <li class="dropdown-item"><a href="/us"> US</a>
                    </li>
                    <li class="dropdown-item"><a href="/politics"> Politics</a>
                    </li>
                    <li class="dropdown-item"><a href="/technology"> Technology</a>
                    </li>
                    <li class="dropdown-item"><a href="/health"> Health</a>
                    </li>
                    <li class="dropdown-item"><a href="/business"> Business</a>
                    </li>
                    <li class="dropdown-item"><a href="/science"> Science</a>
                    </li>
                    <li class="dropdown-item"><a href="/asia"> Asia</a>
                    </li>
                    <li class="dropdown-item"><a href="/europe"> Europe</a>
                    </li>
                    <li class="dropdown-item"><a href="/middleeast"> Middle East</a>
                    </li>
                    <li class="dropdown-item"><a href="/finance"> Finance</a>
                    </li>
                    <li class="dropdown-item"><a href="/lifestyle"> Lifestyle</a>
                    </li>
                    <li class="dropdown-item"><a href="/sports"> Sports</a>
                    </li>
                    <li class="dropdown-item"><a href="/environment"> Environment</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>