<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ArticleBits</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/sitelogic">Site Logic</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/topstories"> Top Stories</a></li>
            <li><a href="/world"> World</a></li>
            <li><a href="/us"> US</a></li>
            <li><a href="/politics"> Politics</a></li>
            <li><a href="/technology"> Technology</a></li>
            <li><a href="/health"> Health</a></li>
            <li><a href="/business"> Business</a></li>
            <li><a href="/science"> Science</a></li>
            <li><a href="/asia"> Asia</a></li>
            <li><a href="/europe"> Europe</a></li>
            <li><a href="/middleeast"> Middle East</a></li>
            <li><a href="/finance"> Finance</a></li>
            <li><a href="/lifestyle"> Lifestyle</a></li>
            <li><a href="/sports"> Sports</a></li>
            <li><a href="/environment"> Environment</a></li>
          </ul>
        </li>
      </ul>
    </nav>
