@media screen and (max-width: 400px) {
  .nav{
    font-family: 'PT Serif', serif;
    /*font-size:1.2em;*/
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table tr {
    display: block;
    /*margin-bottom: .625em;*/
  }
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .nav{
    font-family: 'PT Serif', serif;
    font-size:1.2em;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table tr {
    display: block;
    /*margin-bottom: .625em;*/
  }
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

.row{
  padding:10px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  /*margin-top:50px;*/
}
/*.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }*/

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  /*background: #f8f8f8;*/
  padding: .35em;
}
table th,
table td {
  padding: .8em;
  text-align: center;
}


.nav{
  font-family: 'PT Serif', serif;
}

div { position: relative; }


.svgfigureclass{
  display: block;
}

.categorytitle{
  font-family: 'Alfa Slab One', cursive;
  font-size:2em;
  text-align: center;
}

.hyperspan
{
    /*position:absolute;*/
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
    font-family: 'Alfa Slab One', cursive;
    font-size:1.8em;
    color:black;
    display: inline-block;
    text-align: center;
}

.panel{
  margin-bottom:0;
}

div.col-sm-9 div {
  font-size: 1em;
}
/*font-family: 'PT Serif', serif;
font-family: 'Alfa Slab One', cursive;*/



/**
 * ADDITIONAL STYLES
 */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}

.link-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.link-list.article-link-container {
  text-align: left;
}

.article-link:hover {
  background: lightgray;
}

.article-link {
  color: black;
}

.accordion-title-link {
  color: black;
}

.accordion-title-link:hover {
  text-decoration: none;
  color: darkgrey;
}

#article-info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#article-info-author-container {
  display: flex;
  flex-direction: column;
}

#article-info-company {
  font-style: italic;
}

#article-info-author, #article-info-date {
  font-weight: bold;
}

.content-row {
  margin: 2% 0 0 0;
  padding: 0;
}

#termset {
  margin-top: 2%;
}