{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <h1>About This Site</h1>
    <blockquote>
      <p>“If you don't read the newspaper, you're uninformed. If you read the newspaper, you're mis-informed.”</p>
      <footer>By: Mark Twain</footer>
    </blockquote>
    <p>We're bombarded with so much information and data daily that trying to understand it all sometimes, as the quote mentioned, gives us a poor understanding of a topic. I wanted to try and find a way to condense and aggregate all information on a topic. Thats where this site came into play. What this site tries to accomplish is to summarize an article and give you additional articles (hopefully on the same topic) that are from other sources. In reading articles from multiple sources, it would allow you to get the best perspective possible.</p>
  </div>
  <hr>
{% endblock %}
